.backgroundProvinsi {
    display: flex;
    justify-content: center;
    align-items: center;
}

.backgroundProvinsi img {
    position: absolute;
}

#dki .backgroundProvinsi {
    justify-content: flex-end;
}

#jabar .backgroundProvinsi img {
    bottom: -12rem;
}

#jateng .backgroundProvinsi img {
    bottom: -18rem;
    transform: translateX(1.5%);
}

#jatim .backgroundProvinsi img {
    bottom: -40rem;
    transform: translateX(1%);
}

#banten .backgroundProvinsi img {
    height: 100%;
    bottom: 0;
    right: 0;
}

#dki .backgroundProvinsi img {
}

#dki .backgroundProvinsi img:nth-child(1) {
    height: 100%;
    right: 0;
    bottom: -10%;
}

#dki .backgroundProvinsi img:nth-child(2) {
    height: 70%;
    right: 38%;
    bottom: 0;
}

#diy .backgroundProvinsi img {
    bottom: -10rem;
    left: -15%;
    height: 120%;
}

#bali .backgroundProvinsi img {
    min-width: 100%;
    bottom: -15rem;
}

#ntb .backgroundProvinsi img {
    bottom: -15rem;
    min-width: 100%;
}

#ntt .backgroundProvinsi img {
    bottom: -15rem;
    min-width: 100%;
}

#aceh .backgroundProvinsi img {
    bottom: -35rem;
    min-width: 100%;
    transform: translateX(2%);
}

#sumut .backgroundProvinsi img {
    min-width: 100%;
    bottom: -10rem;
}

/* #riau .backgroundProvinsi img {
    min-width: 100%;
    bottom: -10rem;
} */

#kepri .backgroundProvinsi img {
    min-width: 100%;
    bottom: -10rem;
}

#sumbar .backgroundProvinsi img {
    min-width: 100%;
    bottom: -5rem;
}

#sumsel .backgroundProvinsi img {
    min-width: 100%;
    width: 100vw;
    bottom: -2rem;
    left: 25%;
}

#jambi .backgroundProvinsi img {
    width: 100%;
    bottom: -15rem;
}

#lampung .backgroundProvinsi img {
    width: 100%;
    bottom: 0;
}

#bengkulu .backgroundProvinsi img {
    width: 100%;
    bottom: 0;
}

#bangkabelitung .backgroundProvinsi img {
    width: 100%;
    bottom: -15rem;
}

#kaltim .backgroundProvinsi img {
    width: 100%;
    bottom: 0;
}

#kalut .backgroundProvinsi img {
    width: 100%;
    bottom: 0;
}

#kalsel .backgroundProvinsi img {
    width: 100%;
    bottom: -4rem;
}

#kalbar .backgroundProvinsi img {
    width: 100%;
    bottom: -5rem;
}

#kalteng .backgroundProvinsi img {
    width: 100%;
    bottom: -5rem;
}

#sulut .backgroundProvinsi img {
    min-width: 100%;
    bottom: -35rem;
}

#sulsel .backgroundProvinsi img {
    min-width: 100%;
    bottom: -10rem;
}

#sulteng .backgroundProvinsi img {
    min-width: 100%;
    bottom: -15rem;
}

#sultenggara .backgroundProvinsi img {
    min-width: 100%;
    bottom: -20rem;
}

#sulbar .backgroundProvinsi img {
    width: 100%;
    bottom: -15rem;
}

#gorontalo .backgroundProvinsi img {
    width: 100%;
    bottom: -25rem;
}

#maluku .backgroundProvinsi img {
    min-width: 100%;
    bottom: -5rem;
}

#malukuutara .backgroundProvinsi img {
    min-width: 100%;
    bottom: -20rem;
}

#papua .backgroundProvinsi img {
    min-width: 100%;
    bottom: -10rem;
}

#papuabarat .backgroundProvinsi img {
    width: 100%;
    bottom: -25rem;
}

#papuapegunungan .backgroundProvinsi img {
    min-width: 100%;
    bottom: -40rem;
}

#papuatengah .backgroundProvinsi img {
    min-width: 100%;
    bottom: -10rem;
}

#papuaselatan .backgroundProvinsi img {
    min-width: 100%;
    bottom: -20rem;
}

/* #papuabaratdaya .backgroundProvinsi img {
    min-width: 100%;
    bottom: -20rem;
} */