.cerah1 {
    background-image: url("../images/background_langit/LangitCerah_1.webp");
    background-size: cover;
    background-repeat: no-repeat;
}
.cerah2 {
    background-image: url("../images/background_langit/LangitCerah_2.webp");
    background-size: cover;
    background-repeat: no-repeat;
}
.cerah3 {
    background-image: url("../images/background_langit/LangitCerah_3.webp");
    background-size: cover;
    background-repeat: no-repeat;
}
.cerah4 {
    background-image: url("../images/background_langit/LangitCerah_4.webp");
    background-size: cover;
    background-repeat: no-repeat;
}
.cerah5 {
    background-image: url("../images/background_langit/LangitCerah_5.webp");
    background-size: cover;
    background-repeat: no-repeat;
}
.senja1 {
    background-image: url("../images/background_langit/LangitSenja_1.webp");
    background-size: cover;
    background-repeat: no-repeat;
}
.senja2 {
    background-image: url("../images/background_langit/LangitSenja_2.webp");
    background-size: cover;
    background-repeat: no-repeat;
}
.senja3 {
    background-image: url("../images/background_langit/LangitSenja_3.webp");
    background-size: cover;
    background-repeat: no-repeat;
}
.senja4 {
    background-image: url("../images/background_langit/LangitSenja_4.webp");
    background-size: cover;
    background-repeat: no-repeat;
}
.senja5 {
    background-image: url("../images/background_langit/LangitSenja_5.webp");
    background-size: cover;
    background-repeat: no-repeat;
}
.malam1 {
    background-image: url("../images/background_langit/LangitMalam_1.webp");
    background-size: cover;
    background-repeat: no-repeat;
}
.malam2 {
    background-image: url("../images/background_langit/LangitMalam_2.webp");
    background-size: cover;
    background-repeat: no-repeat;
}
.malam3 {
    background-image: url("../images/background_langit/LangitMalam_3.webp");
    background-size: cover;
    background-repeat: no-repeat;
}
.malam4 {
    background-image: url("../images/background_langit/LangitMalam_4.webp");
    background-size: cover;
    background-repeat: no-repeat;
}
.malam5 {
    background-image: url("../images/background_langit/LangitMalam_5.webp");
    background-size: cover;
    background-repeat: no-repeat;
}